$mobile: 767px;
$tablet : 768px;
$tablet-pro: 1024px;
$medium-destop: 1279px;
$destop: 1279px;

@mixin mediaMaxWidth($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin mediaMinWidth($breakpoint) {
	@media only screen and (min-width: $breakpoint) {
		@content;
	}
}